<tr id="flight-<%= flight.id %>">
  <td class="date"><%= flight.date.year.to_s + '/' +  flight.date.month.to_s + '/' +  flight.date.day.to_s %></td>
  <td class="aircraft-type"><%= flight.aircraft_type %></td>
  <td class="aircraft-ident"><%= flight.aircraft_ident %></td>
  <td class="pic"><%= flight.pic %></td>
  <td class="sic"><%= flight.sic %></td>
  <!-- ****** FLIGHT HOURS ****** -->
      <!-- ****** SINGLE ENGINE ****** -->
        <!-- ****** DAY PIC ****** -->
      <td><%= flight.single_engine_day_pic %></td>
        <!-- ****** DAY DUAL ****** -->
      <td><%= flight.single_engine_day_dual %></td>
        <!-- ****** NIGHT PIC ****** -->
      <td><%= flight.single_engine_night_pic %></td>
        <!-- ****** NIGHT DUAL ****** -->
      <td><%= flight.single_engine_night_dual %></td>
      <!-- ****** MULTI ENGINE ****** -->
        <!-- ****** DAY PIC ****** -->
      <td><%= flight.multi_engine_day_pic %></td>
        <!-- ****** DAY DUAL ****** -->
      <td><%= flight.multi_engine_day_dual %></td>
        <!-- ****** NIGHT PIC ****** -->
      <td><%= flight.multi_engine_night_pic %></td>
        <!-- ****** NIGHT DUAL ****** -->
      <td><%= flight.multi_engine_night_dual %></td>
      <!-- ****** INSTRUMENT ****** -->
      <td><%= flight.hood_hours %></td>
      <td><%= flight.imc_hours %></td>
      <td><%= flight.sim_hours %></td>
      <td><%= flight.ifr_apprs %></td>
      <!-- ****** CROSS COUNTRY ****** -->
      <td><%= flight.is_xc ? flight.day_hours : "" %></td>
      <td><%= flight.is_xc ? flight.night_hours : "" %></td>
      <td><%= flight.route %></td>
      <td><%= flight.comments %></td>
  <td class="actions"><%= link_to "delete",
                          flight,
                          method: :delete,
                          data: { confirm: "You sure?" } %>
  </td>
</tr>
