<tr id="flight-<%= flight.id %>">
  <td class="date"><%= flight.date.year.to_s + '/' +  flight.date.month.to_s + '/' +  flight.date.day.to_s %></td>
  <td class="aircraft-type"><%= flight.aircraft_type %></td>
  <td class="aircraft-ident"><%= flight.aircraft_ident %></td>
  <td class="pic"><%= flight.pic %></td>
  <td class="sic"><%= flight.sic %></td>  
  <!-- ****** FLIGHT HOURS ****** -->
      <!-- ****** SINGLE ENGINE ****** -->
        <!-- ****** DAY PIC ****** -->
      <td><%= !flight.is_dual && flight.is_single_engine ? 0.0 : flight.day_hours %></td>
        <!-- ****** DAY DUAL ****** -->
      <td><%= !flight.is_dual && flight.is_single_engine ? flight.day_hours : 0.0 %></td>
        <!-- ****** NIGHT PIC ****** -->
      <td><%= !flight.is_dual && flight.is_single_engine ? 0.0 : flight.night_hours %></td>
        <!-- ****** NIGHT DUAL ****** -->
      <td><%= !flight.is_dual && flight.is_single_engine ? flight.night_hours : 0.0 %></td>
      <!-- ****** MULTI ENGINE ****** -->
        <!-- ****** DAY PIC ****** -->
      <td><%= flight.is_dual && !flight.is_single_engine ? 0.0 : flight.day_hours %></td>
        <!-- ****** DAY DUAL ****** -->
      <td><%= flight.is_dual && !flight.is_single_engine ? flight.day_hours : 0.0 %></td>
        <!-- ****** NIGHT PIC ****** -->
      <td><%= flight.is_dual && !flight.is_single_engine ? 0.0 : flight.night_hours %></td>
        <!-- ****** NIGHT DUAL ****** -->
      <td><%= flight.is_dual && !flight.is_single_engine ? flight.night_hours : 0.0 %></td>
      <!-- ****** INSTRUMENT ****** -->
      <td><%= flight.hood_hours %></td>
      <td><%= flight.imc_hours %></td>
      <td><%= flight.sim_hours %></td>
      <td><%= flight.ifr_apprs %></td>
      <!-- ****** CROSS COUNTRY ****** -->
      <td><%= flight.is_xc ? flight.day_hours : 0.0 %></td>
      <td><%= flight.is_xc ? flight.night_hours : 0.0 %></td>
      <td><%= flight.route %></td>
      <td><%= flight.comments %></td>
  <td class="actions"><%= link_to "delete",
                          flight,
                          method: :delete,
                          data: { confirm: "You sure?" } %>
  </td>
</tr>
