<% if @user.flights.any? %>
  <table class="table .table-sm table-hover table-striped table-bordered table-responsive table-condensed flights" %>
    <thead>
      <tr class="header top-header">
        <th class="center col-sm-3" colspan="5"></th>
        <th class="center col-sm-2" colspan="4">Total Single Engine</th>
        <th class="center col-sm-2" colspan="4">Total Multi Engine</th>
        <th class="center col-sm-1" colspan="4">Total Instrument</th>
        <th class="center col-sm-1" colspan="2">Total Cross Country</th>
        <th class="center col-sm-3" colspan="3"></th>
      </tr>
      <tr>
        <th scope="col" colspan="5">GRAND TOTAL</th>
        <!-- SINGLE ENGINE -->
        <th scope="col">PIC Day</th>
        <th scope="col">Dual Day</th>
        <th scope="col">PIC Night</th>
        <th scope="col">Dual Night</th>
        <!-- MULTI ENGINE -->
        <th scope="col">PIC Day</th>
        <th scope="col">Dual Day</th>
        <th scope="col">PIC Night</th>
        <th scope="col">Dual Night</th>
        <!-- INSTRUMENT -->
        <th class="col">Hood</th>
        <th class="col">IMC</th>
        <th class="col">Sim</th>
        <th class="col">IFR Apprs</th>
        <!-- XC -->
        <th class="col">Day</th>
        <th class="col">Night</th>
        <th class="col" colspan="3"></th>
      </tr>
    </thead>
    <tbody>
      <td colspan="5">
        <%= @totalSingleDayPIC +
            @totalSingleDayDual +
            @totalSingleNightPIC +
            @totalSingleNightDual +
            @totalMultiDayPIC +
            @totalMultiDayDual +
            @totalMultiNightPIC +
            @totalMultiNightDual
        %>
      </td>
      <td>
        <%= @totalSingleDayPIC %>
      </td>
      <td>
        <%= @totalSingleDayDual %>
      </td>
      <td>
        <%= @totalSingleNightPIC %>
      </td>
      <td>
        <%= @totalSingleNightDual %>
      </td>
      <td>
        <%= @totalMultiDayPIC %>
      </td>
      <td>
        <%= @totalMultiDayDual %>
      </td>
      <td>
        <%= @totalMultiNightPIC %>
      </td>
      <td>
        <%= @totalMultiNightDual %>
      </td>
      <td>
        <%= @totalHood %>
      </td>
      <td>
        <%= @totalIMC %>
      </td>
      <td>
        <%= @totalSim %>
      </td>
      <td>
        <%= @totalAPPR %>
      </td>
      <td>
        <%= @totalXCDay %>
      </td>
      <td>
        <%= @totalXCNight %>
      </td>
      <td colspan="3"></td>
    </tbody>
  </table>
<% end %>
