<% provide(:title, @user.name) %>
<div class="row">
  <div>
    <%= render 'users/pilotInfo' %>
  </div>
  <div>
    <%= render 'users/flight_table' %>
    <%= render 'users/summary' %>
  </div>
  <div class='form add-flight'>
    <section class="flight_form">
      <%= render 'shared/flight_form' %>
    </section>
  </div>
  <%= link_to "Download PDF",
  user_download_path(@user, format: "pdf"),
  target: "_blank",
  class: "download" %>
</div>
