<!DOCTYPE html>
<html>
  <head>
    <!-- normal header items (stylesheet, scripts, etc...) -->
    <%= render 'layouts/rails_default' %>
    <!-- IE compatibility for ie9 and earlier -->
    <%= render 'layouts/shim' %>
  </head>

  <body>
    <%= render 'layouts/header' %>
    <div class="main-content">
      <% flash.each do |message_type, message| %>
        <div class="alert alert-<%= message_type %>"><%= message %></div>
      <% end %>
      <%= yield %>
    </div>
    <%= render 'layouts/footer' %>
    <!-- below displays debug info only if rails is in development mode -->
    <%= debug(params) if Rails.env.development? %>
  </body>
</html>
